
body{ 
    background: #FFEEEE ; 
}

h2{ background: grey; }

div.warning{
    background: #fff8c4  ;
    border:     1px solid #f2c779;
    /*padding:    0.5em;*/
    /*margin:     1em;*/
}

div.success {
    background: #e9ffd9 ;
    border:     1px solid #a6ca8a;
}
